@require '~*definitions'

.availableServers
    padding: 0

.availableServer
    display: flex
    align-items: center

    &:nth-child(even)
        background-color: $background-alt

    & > *
        padding: 0.5rem

.availableServer-provider
    flex: 1

.availableServer-name
    flex: 2

.availableServer-mode
    flex: 1

.availableServer-action
    width: 8rem
    padding: .1rem

    form
        width: 100%

    .button
        width: 6rem
